<h4>Team Members and Roles</h4>
<ul class="list2">
    <li>
        Noah Battle (Senior): Builder and Designer
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Noah.png" width="135px" alt="Noah portrait">
    </li>
    <li>
        Jac Copeland (Senior): Builder and Designer
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Jac.png" width="135px" alt="Jac portrait">
    </li>
    <li>
        Meera Sahrawat (Sophomore): Programmer and Builder
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Porter.png" width="135px"
            alt="Porter portrait">
    </li>
    <li>
        Porter Shawver (Senior): Programmer, Notebooker, and Builder
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Porter.png" width="135px"
            alt="Porter portrait">
    </li>
    <li>
        Isaiah Stumme (Sophomore): Builder and Designer
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Isaiah.png" width="135px"
            alt="Isaiah portrait">
    </li>
    <li>
        Lukas Tichota (Senior): Driver, Builder, and Designer
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Lukas.png" width="135px" alt="Lukas portrait">

    </li>
    <li>
        Sam Tuckman (Senior): Builder and Designer
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Sam.png" width="135px" alt="Sam portrait">
    </li>
    <li class="filler no-print">
        Sam Tuckman (Senior): Builder and Designer
        <br>
        <img src="{{site.url}}{{site.baseurl}}/assets/pics/team_portraits/Sam.png" width="135px" alt="Sam portrait">
    </li>
</ul>

<h4>Team History</h4>
<p>
    Most of our team members (Noah, Porter, Isaiah, Lukas, and Sam) were involved in starting middle school team 23232X
    to compete in the In The Zone (2017-2018) season, because we couldn't wait until high school to start doing
    robotics. We had moderate success (we made state by winning the Judges award), but most importantly, we learned that
    success in VRC only comes from lots of hard work and motivation. Our biggest stumbling block that first year was a
    lack of knowledge about VRC techniques, but that was eased greatly by good mentors by the time we got to high
    school.
</p>
<p>
    As freshman, former members of 23232X joined a sophomore for the Turning Point (2018-2019) season who gave us our
    first hands on experience doing research online (primarily through VEX Forum) to learn good strategy and building
    techniques faster. This year, we were both more competitive and more involved. We realized that our biggest issue
    was making over-complicated designs that were unlikely to be successful, especially watching one of the simplest
    designs win the CREATE US Open. Seeing more experienced teams at CREATE do so much better than us made us wonder how
    it was possible, but also gave us something to work towards for next year.
</p>
<p>
    Even though we were planning on using a simple design, we spent much of the year pursuing a game-breaking strategy
    that required an extremely advanced design. When we eventually gave up, we were able to quickly turn the year
    around, but struggled most with our autonomous. No matter how much time we spent, it never worked consistently. When
    the season was cancelled due to the Pandemic, we used it as an opportunity to spend a lot of time working on more
    advanced VRC programming, that proved very effective in the Change Up (2020-2021) season.
</p>
<p>
    Change Up (2020-2021) was the first season all our hard work began to pay off. The programming we did when Tower
    Takeover (2019-2020) was cancelled was good enough for us to win the Annotated Programming Skills Challenge early in
    the season and have arguably the most successful autonomous at the Illinois State Championship. Our commitment
    throughout the season to design simplicity to facilitate more driver practice and programming time proved very
    successful as well, helping us win Tournament Champions and the Excellence Award at the Illinois State Championship.
    Our most valuable lesson from this year was to not be afraid to make last minute changes after a few ambitious
    decisions leading up to state gave us a major competitive edge.
</p>

<h4>Role Assignment</h4>
<p>
    All 7 of our members have varying levels of experience with different roles. Our philosophy is assigning
    roles to everyone based on what they want to do the most, which drives us all to do our best; when someone is
    genuinely interested and excited about what they are doing, they are much more likely to do a lot of research into a
    topic, and do a really good job. Additionally, the parts of robotics in which we are each most interested are also
    more closely related to the fields most of us want to go into after high school, so having each member follow their
    passion creates a more productive learning experience.
</p>

<h4>About This Notebook</h4>
<p>
    This is a digital notebook hosted on GitHub Pages at <a href='https://the7dorks.github.io/'>the7dorks.github.io</a>.
    We chose to use GitHub Pages to ensure the verifiability of timestamps on entrees. All of the changes made to this
    notebook can be viewed as git commits in this notebook's GitHub repository, with verifiable timestamps in addition
    to the timestamps written on each post.
</p>
<p>
    We are using Jekyll with GitHub Pages to help with the generation of the website pages, as Jekyll is both built into
    GitHub Pages and oriented towards blog style formats which is perfect for our progress tracking application.
    Because the judging rubric requires a printed copy of the notebook to be turned in at in-person events, we need to
    be able to print the website version. To do this, we write CSS styles to make the HTML of the website easily
    printable. If you are on the website, try viewing a print preview of any page (usually with ctrl+p or cmd+p) to see
    what the printed version would look like. To turn the whole website into a pdf, we save the pdf of each page, then
    combine them and add a title page and table of contents.
</p>

<h4>Reading This Notebook</h4>
<p>
    While the printed pdf version contains all the same information as the website, we recommend reading this notebook
    in it's original online format for the ability to use links and navigate collections of post sorted by category. The
    online version can be found at <a href='https://the7dorks.github.io/'>https://the7dorks.github.io</a>, or by
    scanning the following QR code:
</p>
<a rel='nofollow' href='https://the7dorks.github.io/'><img
        src='https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fthe7dorks.github.io%2F&chs=180x180&choe=UTF-8&chld=L|2'
        alt='QR code' width='200'></a>